In [ ]:
#pip install scikit-learn

In [18]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [17]:
import seaborn as sns

In [19]:
df=sns.load_dataset("titanic")

In [20]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [21]:
df1=df.copy()
df2=df.copy()
df3=df.copy()
df4=df.copy()
df5=df.copy()
df6=df.copy()
df7=df.copy()

In [22]:
df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [24]:
df=df.dropna()

In [23]:
df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
df= df.drop_duplicates()

In [ ]:
df.head(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True

In [ ]:
#Apply MinMax Scaller
minmax= MinMaxScaler()
df["fare"]=minmax.fit_transform(df[["fare"]])

In [ ]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,0.139136,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,0.103644,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,0.101229,S,First,man,True,E,Southampton,no,True
10,1,3,female,4.0,1,1,0.032596,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,0.051822,S,First,woman,False,C,Southampton,yes,True

In [ ]:
df["fare"].min()

0.0

In [ ]:
from pandas._libs.tslibs.offsets import Minute
#change range
minmx=MinMaxScaler(feature_range=(10,25))

In [ ]:
df["age"]=minmx.fit_transform(df[["age"]])

In [ ]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,17.033384,1,0,0.139136,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,16.464340,1,0,0.103644,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,20.068285,0,0,0.101229,S,First,man,True,E,Southampton,no,True
10,1,3,female,10.584219,1,1,0.032596,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,20.827011,0,0,0.051822,S,First,woman,False,C,Southampton,yes,True

In [ ]:
df["age"].max()

25.0

In [14]:
#apply standard scaler
from sklearn.preprocessing import StandardScaler,FunctionTransformer

In [25]:
df2.head(2)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False

In [26]:
stdsc=StandardScaler()
df2["survived"]=stdsc.fit_transform(df2[["survived"]])
df2.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,-0.789272,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1.266990,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1.266990,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1.266990,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,-0.789272,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [33]:
#Apply log formet
import numpy as np
lgt=FunctionTransformer(np.log1p)
df3["pclass"]=lgt.fit_transform(df3[["pclass"]])
df3.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,1.386294,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,0.693147,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,1.386294,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,0.693147,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,1.386294,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [30]:
#apply dataFrame
dataF=df3[["pclass","age","fare"]]

In [31]:
dataF=dataF.rename(columns={"pclass":"Class","age":"Ages","fare":"Fare"})

In [34]:
for col in dataF.columns:
  dataF[col]=lgt.fit_transform(dataF[[col]])
dataF.head()

      Class      Ages      Fare
0  1.386294  3.135494  2.110213
1  0.693147  3.663562  4.280593
2  1.386294  3.295837  2.188856
3  0.693147  3.583519  3.990834
4  1.386294  3.583519  2.202765

In [35]:
data=pd.concat([dataF,df3],axis=1)
data.head()

,Class,Ages,Fare,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,1.386294,3.135494,2.110213,0,1.386294,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,0.693147,3.663562,4.280593,1,0.693147,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1.386294,3.295837,2.188856,1,1.386294,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,0.693147,3.583519,3.990834,1,0.693147,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,1.386294,3.583519,2.202765,0,1.386294,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [36]:
df=data.drop(["pclass","sex","age"],axis=1)
df.head()

,Class,Ages,Fare,survived,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,1.386294,3.135494,2.110213,0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,0.693147,3.663562,4.280593,1,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1.386294,3.295837,2.188856,1,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,0.693147,3.583519,3.990834,1,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,1.386294,3.583519,2.202765,0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [50]:
#Apply Robust Scaller
from sklearn.preprocessing import LabelEncoder,RobustScaler,MaxAbsScaler

In [39]:
le= LabelEncoder()
rs= RobustScaler()

In [40]:
df5.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [42]:
from pandas.core.dtypes.common import is_numeric_dtype
for col in df5.columns:
  if is_numeric_dtype(df5[col]):
    df5[col]=rs.fit_transform(df5[[col]])
  else:
    df5[col]=le.fit_transform(df5[col])

In [43]:
df5.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0.0,0.0,1,-0.335664,1.0,0.0,-0.312011,2,2,1,0.0,7,2,0,-1.0
1,1.0,-2.0,0,0.559441,1.0,0.0,2.461242,0,0,2,-1.0,2,0,1,-1.0
2,1.0,0.0,0,-0.111888,0.0,0.0,-0.282777,2,2,2,-1.0,7,2,1,0.0
3,1.0,-2.0,0,0.391608,1.0,0.0,1.673732,2,0,2,-1.0,2,2,1,-1.0
4,0.0,0.0,1,0.391608,0.0,0.0,-0.277363,2,2,1,0.0,7,2,0,0.0

In [51]:
#aplly maxabs scale
le1=LabelEncoder()
mx=MaxAbsScaler()
for col in df7.columns:
  if is_numeric_dtype(df7[col]):
    df7[[col]]=mx.fit_transform(df7[[col]])
  else:
    df7[col]=le1.fit_transform(df7[col])

In [52]:
df7.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0.0,1.000000,1,0.2750,0.125,0.0,0.014151,2,2,1,1.0,7,2,0,0.0
1,1.0,0.333333,0,0.4750,0.125,0.0,0.139136,0,0,2,0.0,2,0,1,0.0
2,1.0,1.000000,0,0.3250,0.000,0.0,0.015469,2,2,2,0.0,7,2,1,1.0
3,1.0,0.333333,0,0.4375,0.125,0.0,0.103644,2,0,2,0.0,2,2,1,0.0
4,0.0,1.000000,1,0.4375,0.000,0.0,0.015713,2,2,1,1.0,7,2,0,1.0